<div class="container">
  <h1>Tamo Aí!</h1>
  <p class="lead text-muted">Vamos ajudar a manter a economia funcionando e <b>preservar empregos.</b></p>
  <div class="card-deck mb-6 text-center">
    <div class="card">
      <%= image_tag "novo.jpg", class: "card-img-top", alt: "Mulher em casa com tablet" %>
      <div class="card-body">
        <p class="card-text">Ache um negócio que pode te atender, mesmo ficando em casa.</p>
        <%= link_to "Procurar um negócio", negocios_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="card">
      <%= image_tag "2887079.jpg", class: "card-img-top", alt: "Homem fazendo entrega" %>
      <div class="card-body">
        <p class="card-text">Divulgue seu negócio que, mesmo na quarentena, está funcionando.</p>
        <%= link_to "Divulgar meu negócio", new_negocio_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>