<div class="container">
  <h1>Tamo Aí!</h1>
  <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
  <div class="card-deck mb-6 text-center">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Procurar um negócio", negocios_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "Divulgar meu negócio", new_negocio_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>